<!--<tr>-->
  <!--<td>&nbsp; {{ cart_data.product.product_name }}</td>-->
  <!--<td>&nbsp; <input [value]="cart_data.qty" [min]="1" [max]="cart_data.product.product_qty" type="number"></td>-->
  <!--<td>&nbsp; {{ cart_data.price }}</td>-->
  <!--<td>-->
    <!--<button class="btn btn-danger" (click)="removeItem(cart_data.id)">Remove</button>-->
  <!--</td>-->
<!--</tr>-->

<table class="table table-hover" id="cart">
  <thead>
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody class="showCart"></tbody>
  <tbody>
  <tr *ngFor="let cart of cart_data">
    <td>&nbsp; {{ cart.product.product_name }}</td>
    <td>&nbsp; <input id="number" [min]="1" [max]="cart.product.product_qty" [(ngModel)]="cart.qty" type="number" (change)="updateCart(cart.product_id,cart.qty)"></td>
    <td >&nbsp; <input [(ngModel)]="cart.qty*cart.price" disabled></td>
    <td>
      <button class="btn btn-danger" (click)="removeItem(cart.id)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

