<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Add Alamat</h4>
          </div>
          <div class="content">
            <form action="" method="POST">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Nama Penerima</label>
                    <input type="text" class="form-control" name="nama_penerima"  placeholder="Nama Penerima">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Alamat Lengkap</label>
                    <textarea rows="5" class="form-control" name="alamat_lengkap" placeholder="Alamat Lengkap"></textarea>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-info btn-fill pull-right">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
