<div class="wrapper">
  <div class="sidebar" data-color="green" data-image="https://www.enterkomputer.com/assets/admin/img/sidebar-4.jpg">

    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="https://www.enterkomputer.com/C769c2bd/dashboard" class="simple-text">
          <img src="" width="100%" height="100%">
        </a>
      </div>

      <ul class="nav">

        <li class="">
          <a routerLink="">
            <i class="fa fa-life-ring"></i>
            <p>PAYMENT METHOD</p>
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/dashboard/dashboard">
            <i class="fa fa-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/request_order">
            <i class="fa fa-bars"></i>
            <p>Request Order</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/payment">
            <i class="fa fa-money"></i>
            <p>Pembayaran</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/status_order">
            <i class="fa fa-bullhorn"></i>
            <p>Status Order</p>
          </a>
        </li>
        <!--<li>-->
            <!--<a href="maps.html">-->
                <!--<i class="fa fa-shopping-cart"></i>-->
                <!--<p>Quick Cart</p>-->
            <!--</a>-->
        <!--</li>-->
        <li>
          <a routerLink="">
            <i class="fa fa-comment-o"></i>
            <p>Pesan Masuk</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PURCHASING APPLICATION</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a routerLink="/" title="Back to Web">
                <i class="fa fa-home"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
              </a>
            </li>
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-globe"></i>-->
                <!--<b class="caret hidden-sm hidden-xs"></b>-->
                <!--<span class="notification hidden-sm hidden-xs">0</span>-->
                <!--<p class="hidden-lg hidden-md">-->
                  <!--0 Pesan Masuk-->
                  <!--<b class="caret"></b>-->
                <!--</p>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu">-->
              <!--</ul>-->
            <!--</li>-->
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<p>-->
                  <!--Saldo Deposit Anda Rp-->
                  <!--0                                        <b class="caret"></b>-->
                <!--</p>-->
              <!--</a>-->
              <!--
              <ul class="dropdown-menu">
                <li><a href="#">Request Refund</a></li>
                <li><a href="#">Tambah Rekening</a></li>
              </ul>
              -->
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <p>
                  [ {{user_data.name}} ]
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="edit_profile">Edit Profil</a></li>
                <li><a routerLink="list_alamat">List Alamat</a></li>
              </ul>
            </li>
            <li>
              <a (click)="logout()" href="/home">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
          </ul>
        </div>
      </div>
    </nav>
    <app-alert></app-alert>
    <router-outlet></router-outlet>

  </div>

</div>
