<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row content-wrap">
        <div class="welcome">
          <h1>Selamat Datang Di Toko Kami</h1>
          <hr class="welcome-hr">
          <p>Customer diwajibkan untuk mengetahui dan menyetujui </p>
          <a href="">Terms & Conditions</a>
        </div>
      </div>
      <app-banner-slider></app-banner-slider>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="item-4">
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
          <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
          <article>
            <h1>How to Code a Scrolling “Alien Lander” Website</h1>
            <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
            <span>Kezz Bracey</span>
          </article>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="item-4">
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
          <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
          <article>
            <h1>How to Code a Scrolling “Alien Lander” Website</h1>
            <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
            <span>Kezz Bracey</span>
          </article>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="item-4">
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
          <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
          <article>
            <h1>How to Code a Scrolling “Alien Lander” Website</h1>
            <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
            <span>Kezz Bracey</span>
          </article>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="item-4">
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
          <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
          <article>
            <h1>How to Code a Scrolling “Alien Lander” Website</h1>
            <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
            <span>Kezz Bracey</span>
          </article>
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
