<div class = "container-fluid" style="background-color:black;color:white;padding: 10%">
  <div class="row">
    <div class="col-sm-5">
      <h2>RATUSAN JENIS PRODUK UNGGULAN</h2><br>
      Kami menghadirkan produk-produk Elektronik Komputer berkualitas dari brand-brand ternama seperti Notebook, Desktop PC, Komponen PC Rakitan, Sparepart, Printer, UPS, Gadget, Smartphone dan ratusan jenis produk aksesoris elektronik komputer. Dengan mengedepankan kulitas produk, kualitas layanan penjualan serta after-sales service. Enter Komputer senantiasa berusaha untuk terus maksimal melayani kebutuhan anda dalam mendapatkan produk elektronik komputer yang anda butuhkan. Didukung oleh staff-staff profesional yang telah berpengalaman dalam memberikan rekomendasi produk serta spesifikasi yang sesuai dengan kebutuhan dan budget anda.						</div>

    <div class="col-sm-2 text-center" style="text-align:center">
      <div class="circle">
        <img class="img-fluid" src="../../../assets/images/comp.jpg" style="border: 0.4em solid; border-radius:100%; width:6em; height:6em;">
      </div>
    </div>


  <div class="col-sm-5">
    <h2>PENGIRIMAN</h2><br>
    Selain melayani pembelian langsung di toko kami yang berlokasi di Hatimu dan juga melayani pembelian secara online dengan sistem pembayaran macam-macam.
    <ul>
      <li>Produk Unggulan</li>
      <li>Harga Kompetitif</li>
      <li>Berbagai Merek</li>
      <li>Terpercaya</li>

      <li>Pengiriman Cepat</li>
      <li>Staff Professional</li>
      <li>Proses Belanja yang Mudah</li>
      <li>100% Garansi</li>
    </ul>
  </div>
  </div>
</div>


<div class = "container-fluid" style="background-color:white;">




  <div class="row">
    <div class="col-sm-12" style="height:1em"></div>
  </div>


  <div class="row text-center">

    <div class="col-sm-3 text-center ">
      <div class="container-3d">
        <div class="front">
          <img src="../../../assets/images/lowcost.jpg" width="150em" height="150em" class="img-responsive center-block">
        </div>
      </div>

      Kami menghadirkan harga kompetitif dengan kualitas produk terbaik

    </div>


    <div class="col-sm-3 text-center">
      <div class="container-3d">
        <div class="front">
          <img src="../../../assets/images/fastdeliver.jpg" width="150em" height="150em" class="img-responsive">
        </div>
      </div>
      Layanan pengiriman super cepat ! Ke seluruh Indonesia
    </div>


    <div class="col-sm-3 text-center">
      <div class="container-3d">
        <div class="front">
          <img src="../../../assets/images/mechanic.jpg" width="150em" height="150em" class="img-responsive">
        </div>
      </div>
      <div class="text-center">
        Tenaga staff profesional yang akan senantiasa membantu anda
      </div>
    </div>


    <div class="col-sm-2 text-center">
      <div class="container-3d">
        <div class="front">
          <img src="../../../assets/images/verifiedstore.jpg" width="150em" height="150em" class="img-responsive">
        </div>
      </div>
      Verified store, telah berpengalaman lebih dari 5 tahun
    </div>


  </div>
</div>