<!-- Header Section -->
<nav class="navbar navbar-default">
<div class="container-fluid" id="navbar" style="padding-bottom: 0; margin-bottom: 0">
  <div class="row top-row">

    <div class=" col-md-12 col-ongkir col-sm-12" style="margin-top:1%;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="logo-enter" src="https://www.enterkomputer.com/assets/img/logoenterkom.png" style="zoom: 87%; margin-top:-20px;"></a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="list-unstyled list-inline ongkir ">
          <!--<li><i class="fa fa-whatsapp"></i> WA : <a href="https://api.whatsapp.com/send?phone=6281290969086"><b>CS-1(0812-9096-9086)</b></a></li>-->
          <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
          <li><a href=""><i class="fa fa-users" aria-hidden="true"></i>&nbsp;About Us</a></li>
          <li><a href=""><i class="fa fa-question" aria-hidden="true"></i>&nbsp;How To</a></li>
          <li><a href=""><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;Simulasi</a></li>
          <li><a href=""><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Tracking Order</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row logo-row">
    <div class="mid col-md-9">
      <form name ="userinput" action="" method="post">
        <div id="custom-search-input">
          <div class="col-md-4"></div>
          <div class="input-group col-md-8">
            <span class="input-group-btn">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown">
                    Kategori <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-hover="dropdown">
                    <li *ngFor="let category of categories_data"><a href="{{category.body}}">{{category.body}}</a></li>
                    <li class="dropdown">
                      <a href="#">One more dropdown</a>
                      <ul class="dropdown-menu" data-animations="fadeInLeft">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="dropdown">
                          <a href="#">One more dropdown</a>
                          <ul class="dropdown-menu">
                            ...
                          </ul>
                        </li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </span>
            <input id="keyword-search" type="text" class="form-control input-md" name="keyword" placeholder="Cari.." />
            <span class="input-group-btn">
                <button class="btn btn-success btn-md" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3 text-center">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#myCart"><i class="fa fa-shopping-basket"></i> Rp <span class="totalcart"></span></button>
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#Login" routerLink="/login" *ngIf="!loggedIn"><i class="fa fa-sign-in"></i> Login</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Register" routerLink="/register" *ngIf="!loggedIn"><i class="fa fa-pencil"></i> Daftar</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Register" routerLink="/register" *ngIf="loggedIn"><i class="fa fa-pencil"></i> test</button>

    </div>
  </div>

  <div class="row cp-row">
    <div class="col-md-12 cp-col">
      <!--<button type="button" class="btn btn-success btn-block btn-cp"><i class="fa fa-whatsapp" aria-hidden="true"></i> WA :  CS-1(0812-9096-9086) / CS-2(0878-8673-6264) | <i class="fa fa-envelope" aria-hidden="true"></i> Konsultasi & Pemesanan : sales@enterkomputer.com | Keluhan dan saran: manager@enterkomputer.com</button>-->
      <button type="button" class="btn btn-success btn-block btn-cp"><h1>Mangga Dua Mall Lt.5 Blok C No. 101-106 Jakarta Pusat 10730 (Senin-Sabtu, 10.00-19.00) | <i class="fa fa-envelope"></i> sales@enterkomputer.com | <i class="fa fa-phone"></i> (021) 3043 0333 | Warranty : RMA.enterkomputer@gmail.com / 021-3000 5529</h1></button>
    </div>
  </div>
</div>
</nav>
<!-- Header Section -->

<div id="myCart" class="modal fade in" role="dialog" tabindex="-1">
  <app-cart></app-cart>
</div>
