<div class="container-fluid" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title" style="padding-bottom:15px">Complete Order</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead style="font-size: 12px; ">
            <th>ID Order</th>
            <th>Total</th>
            <th>Date</th>
            <th>Order Status</th>
            <th>Konfirmasi</th>
            </thead>
            <tbody *ngIf="order_data">
            <tr *ngFor="let data of order_data">
              <td>{{ data.id }}</td>
              <td>{{ data.total_price }}</td>
              <td>{{ data.order_date }}</td>
              <td>{{ data.order_status }}</td>
              <td>
                <button class="btn btn-success" routerLink="/dashboard/request_order/details/{{data.id}}">Details</button>
                <!--<button class="btn btn-danger">Complain / RMA</button>-->
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
