<div id="myCart" class="modal fade in" role="dialog" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Cart</h4>
      </div>
      <div class="modal-body" id="modalCart">
        <form>
          <div class="alert alert-danger">

          </div>
          <table class="table table-hover" id="cart">
            <thead>
              <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="showCart"></tbody>
            <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td><td>&nbsp;</td>
              <td class="text-right"><h5>Rp</h5></td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>