<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profil</h4>
          </div>
          <div class="content">
            <form (submit)="updateProfile()">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Email</label>
                    <input disabled type="text" class="form-control" name="email"  placeholder="Email" value="">
                    <input type="hidden" class="form-control" name="id"  value="{{ user_data.id }}">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" disabled placeholder="Username" value="{{ user_data.username }}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label >Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input type="text" name="nama" class="form-control" placeholder="Nama Lengkap" value="{{ user_data.name }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Handphone</label>
                    <input type="text" name="hp" class="form-control" placeholder="Hp" value="{{ user_data.phone }}">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="5" class="form-control" name="about" placeholder="{{ user_data.succes_trans }}"></textarea>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
