<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profil</h4>
          </div>
          <div class="content">
            <form action="https://www.enterkomputer.com/C769c2bd/edit_profile" method="POST">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Perusahaan</label>
                    <input type="text" class="form-control" name="perusahaan"  placeholder="Company" value="">
                    <input type="hidden" class="form-control" name="id"  value="d7af32d3df02c896964bd688666ad74d">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" disabled placeholder="Username" value="enrico.daniswaragiovanni@gmail.com">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label >Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input type="text" name="nama" class="form-control" placeholder="Nama Lengkap" value="Enrico Giovanni">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Handphone</label>
                    <input disabled type="text" name="hp" class="form-control" placeholder="Hp" value="085353178111">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="5" class="form-control" name="about" placeholder="Here can be your description"></textarea>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>