
<div class="container-fluid footer">
  <div class="row footer-row">
    <div class="col-md-4">
      <ul class="list-unstyled footer-menu">
        <li class="">Info :</li>
        <li><a href="https://www.enterkomputer.com/about.php">About Us</a></li>
        <li><a href="https://www.enterkomputer.com/howto.php">How To</a></li>
      </ul>
      <br>
      <div class="social-media">
        <ul id='services' class="bottom-sosmed">
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-facebook" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-twitter" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-instagram" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-youtube-play" aria-hidden="true"></i></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-5">
      <ul class="list-unstyled">
        <img class="logo-footer" src="">
        <br>
        <h1 class="footer-info">
          Mangga dua mall Lantai 5 Blok C No.101 - 106<br>
          Jakarta Pusat 10730<br>
          sales@enterkomputer.com<br>
          ( 021 ) 3043 0333<br>
          RMA : RMA.enterkomputer@gmail.com
        </h1>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bottom">
      <h1 class="slogan text-center"><span>Best</span> Price | <span>Best</span> Quality | <span>Best</span> Service</h1>
    </div>
  </div>
</div>
