
<div class="container-fluid footer">
  <div class="row footer-row">
    <div class="col-md-4">
      <ul class="list-unstyled footer-menu">
        <li class="">Info :</li>
        <li><a href="">About Us</a></li>
        <li><a href="">How To</a></li>
      </ul>
      <br>
      <div class="social-media">
        <ul id='services' class="bottom-sosmed">
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-facebook" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-twitter" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-instagram" aria-hidden="true"></i></div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div><i class="fa-social fa fa-youtube-play" aria-hidden="true"></i></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-5">
      <ul class="list-unstyled">
        <img class="logo-footer" src="">
        <br>
        <h1 class="footer-info">
          Final Project Web App<br>
          Binus International University<br><br>Credit to: <a href="https://enterkomputer.com">enterkomputer.com</a>
        </h1>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bottom">
      <h1 class="slogan text-center"><span>Best</span> Price | <span>Best</span> Quality | <span>Best</span> Service</h1>
    </div>
  </div>
</div>
