/*#banners {*/
    /*height: 1000px;*/
    /*width: auto;*/
    /*overflow: hidden;*/
/*}*/

.carousel-inner > .item {
    height: 100vh;
}

.carousel-inner > .item > img {
    position: absolute;
    max-height: 800px;
    width: auto;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}