<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title" style="padding-bottom:15px">List Alamat <a routerLink="/dashboard/add_address"  class="btn btn-success btn-fill pull-right">+ Tambah Alamat</a></h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
              <th>No</th>
              <th>Nama Penerima</th>
              <th>Hp Penerima</th>
              <th>Alamat Lengkap</th>
              </thead>
              <tbody>
              <tr>
                <td>1.</td>
                <td>Enrico</td>
                <td>085353178111</td>
                <td>Jl. Terusan Hang Lekir V No 24</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
