<div class="item-4">
  <a routerLink="" class="card">
    <div class="thumb" style="background-image: url({{ data.product_img }});"></div>
    <article>
      <h4>{{ data.product_name }}</h4>
      <p>{{ data.product_description }} <br>Quantity: {{ data.product_qty }}<br>Item sold: {{ data.sold_qty }}</p>
      <span>{{ data.product_price }}</span>
    </article>
    <button type="submit" (click)="addToCart(); addToCartDetail();" *ngIf="loggedIn" class="btn btn-danger" style="border-radius: 0px;">Add to cart</button>
  </a>
</div>
