<app-alert (id)="product"></app-alert>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper band">
    <div class="front">
      <div class="item-4">
        <a class="card">
          <div class="thumb" [style.background-image]="'url(' + product_data.product_img + ')'"></div>
          <article>
            <h4><strong>{{ product_data.product_name }}</strong></h4>
            <p style="font-size: 12px;">{{ product_data.product_description }} <br>Quantity: {{ product_data.product_qty }}<br>Item sold: {{ product_data.product_sold }}</p>
            <span style="font-size: 18px">{{ product_data.product_price | currency : 'Rp' : 3}}</span>
          </article>
        </a>
      </div>
    </div>
    <div class="back">
      <div class="item-4">
        <a class="card">
          <div data-toggle="modal" data-target="#prod_detail" routerLink="/product/{{ product_data.id }}">
            <div class="thumb" [style.background-image]="'url(' + product_data.product_img + ')'"></div>
            <article>
              <p *ngFor="let productdetail of product_data.productdetails">{{ productdetail.key }}: {{ productdetail.value }}<br></p>
            </article>
          </div>
          <button type="submit" (click)="addToCart(product_data.id);" class="btn btn-danger" style="border-radius: 0px;">Add to cart</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="prod_detail" class="modal fade in" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">{{ product_data.product_name }}</h4>
      </div>
      <div class="modal-body" [style.background-image]="'url(' + product_data.product_img + ')'" style="height:1000px">

      </div>
    </div>
  </div>

</div>