<!-- Header Section -->
<nav class="">
<div class="container-fluid" id="navbar">
  <div class="row top-row">
    <div class=" col-md-12 col-ongkir col-sm-12" style="margin-top:1%;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand sidebar" href="#"><img class="logo-enter logo" src="" style="zoom: 87%; margin-top:-20px;"></a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="list-unstyled list-inline ongkir ">
          <!--<li><i class="fa fa-whatsapp"></i> WA : <a href="https://api.whatsapp.com/send?phone=6281290969086"><b>CS-1(0812-9096-9086)</b></a></li>-->
          <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
          <li><a href=""><i class="fa fa-users" aria-hidden="true"></i>&nbsp;About Us</a></li>
          <li><a href=""><i class="fa fa-question" aria-hidden="true"></i>&nbsp;How To</a></li>
          <!--<li><a href=""><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;Simulasi</a></li>-->
          <li><a href=""><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Tracking Order</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row logo-row">
    <div class="mid col-md-9">
      <form (ngSubmit)="search(fm)" #fm="ngForm">
        <div id="custom-search-input">
          <div class="col-md-4"></div>
          <div class="input-group col-md-8">
            <span class="input-group-btn">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInDown">
                    Kategori <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" data-hover="dropdown" data-animations="fadeInDown">
                    <!--<li class="dropdown" *ngFor="let category of categories_data">-->
                        <!--<a routerLink="/category/{{category.category_name}}">{{category.category_name}}</a>-->
                        <!--<ul class="dropdown-menu" data-animations="fadeInLeft">-->
                            <!--<li *ngFor="let children of category.children"><a routerLink="/category/{{children.category_name}}">{{children.category_name}}</a> </li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li class="dropdown" *ngFor="let category of categories_data" id="{{ category.id }}">
                        <a *ngIf="category.children" (click)="navigateTo(category.category_name)" (mouseenter)="toggleDropdown(category.id)" >{{ category.category_name}}</a>
                        <!--(mouseleave)="toggleDropdown(category.id)"-->
                        <a *ngIf="!category.children">{{category.category_name}}</a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let children of category.children">
                                <a (click)="navigateTo(children.category_name)">{{ children.category_name }}</a>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="dropdown">-->
                      <!--<a href="#">One more dropdown</a>-->
                      <!--<ul class="dropdown-menu" data-animations="fadeInLeft">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li class="dropdown">-->
                          <!--<a href="#">One more dropdown</a>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--...-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  </ul>
                </div>
            </span>

              <ng-ais-search-box placeholder="Cari.."></ng-ais-search-box>
            <!--<input id="keyword-search" type="text" class="form-control input-md" placeholder="Cari.." [(ngModel)]="searchTerm" name="searchTerm">-->
            <span class="input-group-btn">
                <button class="btn btn-success btn-md" type="submit" routerLink="/search">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3 text-center">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#myCart" (click)="this.alertService.reset();" *ngIf="loggedIn"><i class="fa fa-shopping-basket"></i> Rp <span class="totalcart"></span></button>
        <button class="btn btn-outline-success" routerLink="/login" *ngIf="!loggedIn"><i class="fa fa-sign-in"></i> Login</button>
        <button type="button" class="btn btn-success" routerLink="/register" *ngIf="!loggedIn"><i class="fa fa-pencil"></i> Daftar</button>
        <button type="button" class="btn btn-success" routerLink="/dashboard" *ngIf="loggedIn"><i class="fa fa-pencil"></i>&nbsp;Hi, {{ user_data.name }}</button>
    </div>
  </div>

  <div class="row cp-row">
    <div class="col-md-12 cp-col" style="overflow: hidden">
      <!--<button type="button" class="btn btn-success btn-block btn-cp"><i class="fa fa-whatsapp" aria-hidden="true"></i> WA :  CS-1(0812-9096-9086) / CS-2(0878-8673-6264) | <i class="fa fa-envelope" aria-hidden="true"></i> Konsultasi & Pemesanan : sales@enterkomputer.com | Keluhan dan saran: manager@enterkomputer.com</button>-->
      <button type="button" class="btn btn-success btn-block btn-cp"><h1> Final Project Web <i class="fa fa-envelope"></i> <i class="fa fa-phone"></i></h1></button>
    </div>
  </div>
</div>
</nav>
<!-- Header Section -->

<div id="myCart" class="modal fade in" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Cart</h4>
            </div>
            <div class="modal-body" id="modalCart">
                <app-alert></app-alert>
                <form>
                    <app-cart [cart_data]="cart_data"></app-cart>
                </form>
                <hr>
                <form>
                    <table class="table table-hover" id="cart">
                        <thead>
                        <tr>
                            <th>Select an Address</th>
                        </tr>
                        </thead>
                        <tbody class="showCart"></tbody>
                        <tbody>
                        <tr>
                            <td>
                                <select [(ngModel)]="chosenAddress" [ngModelOptions]="{standalone: true}" class="form-control">
                                    <option *ngFor="let data of address_data" [value]="data.id"> {{ data.name }} - {{ data.phone }} - {{ data.address }}</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right"><button class="btn btn-success" (click)="addAddress()">Add Address</button></div>
                </form>
                <button class="btn btn-success" (click)="checkout()">Checkout</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="godown-60" id="godown"></div>-->