<div class="container-fluid" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title" style="padding-bottom:15px">Request Order</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead style="font-size: 12px; ">
            <th>No</th>
            <th>Date</th>
            <th>Nama</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr>
              <td>asdfs</td>
              <td>asdfsaf</td>
              <td>asdfsaf</td>
              <td>asdfsaf</td>
              <td>asdfsaf</td>
              <td>asdfsaf</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
