/* You can add global styles to this file, and also import other style files */
@charset "utf-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td
{
  border:0pt none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin-top:0pt;
  margin-bottom:0pt;
  padding:0pt;
  vertical-align:baseline;
  font-family: 'Roboto', sans-serif !important;

}

a {
  text-decoration: none;
}

/*asd*/

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  background-color: #333;
}

/*#navbar a {*/
  /*float: left;*/
  /*display: block;*/
  /*color: #f2f2f2;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*font-size: 12px;*/
/*}*/

/*#navbar a:hover {*/
  /*background-color: #ddd;*/
  /*color: black;*/
/*}*/

/*#navbar a.active {*/
  /*background-color: #4CAF50;*/
  /*color: white;*/
/*}*/

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.top-row{
  border-top: 4px solid #86c441;
}

.col-ongkir {
  padding-right: 0px;
}

.ongkir {
  text-align: right;
  font-size: 12px;
}

.ongkir li {
  margin-top: 3px;
}

.ongkir li a {
  color: whitesmoke;
}

.ongkir li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.cp-row {
  margin-top: 5px;
  border-radius: 0px;
}

.cp-col {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  border-radius: 0px;
}

.cp-row .btn-cp {
  text-align: center;
  font-size: 14px;
  border-radius: 0px;
  /*font-weight: bolder;*/
}

.welcome {
  text-align: center;
  margin-bottom: 10px;
}

.welcome h1 {
  font-size: 35px;
  font-weight: bold;
}

.welcome a {
  color: #000;
  font-style: italic;
}

.welcome-hr {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  border: 1px solid #86c441;
}

.notif {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  width: 300px;
  z-index: 999999;
}