<div class="container-fluid" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title" style="padding-bottom:15px">Status Order</h4>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead style="font-size: 12px; ">
            <th>ID Order</th>
            <th>Total</th>
            <th>Date</th>
            <th>Status</th>
            <th>Dikirim/Pickup</th>
            <th>Resi/Kode Pickup</th>
            </thead>
            <tbody *ngIf="status_order">
            <tr *ngFor="let status of status_order">
              <td>{{ status.id }}</td>
              <td>{{ status.total_price }}</td>
              <td>{{ status.order_date }}</td>
              <td>{{ status.order_status }}</td>
              <td>{{ status.shipment_status }}</td>
              <td>{{ status.shipment_number }}</td>
              <td>
                <button class="btn btn-success" routerLink="order_detail">Details</button>
                <button class="btn btn-danger">Cancel</button>
              </td>
            </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>

  </div>
</div>
