<!--<div class="modal-dialog modal-lg">-->
  <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal">x</button>-->
      <!--<h4 class="modal-title">Cart</h4>-->
    <!--</div>-->
    <!--<div class="modal-body" id="modalCart">-->
      <!---->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="band">
        <div class="row">
            <div class="col-md-12">
                <h2 class="clr-green" style="font-size: 24px; padding-left: 10%"><strong>{{ product_data.product_name }}</strong></h2><hr>
            </div>
        </div>
        <div class="row">
              <div class="col-md-4">
                  <img src="{{ product_data.product_img }}" class="img-product">
              </div>
              <div class="col-md-4">
                  <div class="box">
                      <p class="clr-green">Informasi Produk</p><hr>
                      <p style="border-bottom: 1px solid #dddd"><i class="fa fa-cubes"></i> Terjual: {{ product_data.product_sold }}</p><br>
                      <p><i class="fa fa-tag"></i> Stock: {{ product_data.product_qty }}</p>
                  </div>
                  <div class="box">
                      <p class="clr-green">Product Description</p><hr>
                      <p *ngFor="let productdetail of product_data.productdetails">{{ productdetail.key }}: {{ productdetail.value }}<br></p>
                  </div>
              </div>
              <div class="col-md-4 text-center">
                  <div class="box">
                      <p class="price-tag">{{ product_data.product_price | currency : 'Rp' : 0 }}</p><br>
                      <p>Update terakhir: {{ product_data.updated_at }}</p>
                  </div>
                    <button class="btn btn-danger" (click)="addToCart(product_data.id)" style="width: 100%; font-size: 18px"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
              </div>
      </div>
    </div>
</div>
